<div class="row">
<div class="col-md-6">
<form name="myForm" novalidate>
	<div class="form-group">
	<label>Name :</label>
	<input type="text" class="form-control" name="nameBook" id="nameBook" ng-model="data.name" placeholder="Please Enter your names" required>
	<span style="color:red;" id="msg-error-name" ng-show="myForm.nameBook.$dirty && myForm.nameBook.$invalid">
	Please Enter Your NameBook
	</span>
	<div>
	<div class="form-group">
	<label>Price :</label>
	<input type="number" class="form-control" name="priceBook" ng-model="data.price" placeholder="Please Enter Price" required>
	<span style="color:red;" ng-show="myForm.priceBook.$dirty && myForm.priceBook.$invalid">
	Please Enter Your PriceBook
	</span>
	<div>
	<div class="form-group">
	<label>Description :</label>
	<textarea class="form-control" ng-model="data.description" placeholder="Please Enter Description" required></textarea>
	</div>
	<div class="form-group">
	<button type="submit" class="btn btn-success btn-md" ng-disabled="myForm.$invalid" ng-click="saveBook(data)">Submit</button>
	</div>
</form>
</div>
</div>